@charset "UTF-8";
/* ===========================
   BASE
   =========================== */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/* ===========================
   TYPOGRAPHY
   =========================== */
html {
  font-size: 80%; }

@media (min-width: 37.5em) {
  html {
    font-size: 85%; } }

@media (min-width: 50em) {
  html {
    font-size: 90%; } }

@media (min-width: 64em) {
  html {
    font-size: 95%; } }

@media (min-width: 70em) {
  html {
    font-size: 100%; } }

body {
  background-color: #f2f2f2;
  font-family: "Pontano Sans", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #000000; }

.blog-header-footer {
  background-color: #e5e5e1; }

p {
  margin-bottom: 1.3rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "Montserrat", sans-serif;
  margin: 1.414em 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2; }

h1, .h1 {
  margin-top: 0;
  font-size: 1.602rem; }

h2, .h2 {
  font-size: 1.424rem; }

h3, .h3 {
  font-size: 1.266rem; }

h4, .h4 {
  font-size: 1.125rem; }

small, .small {
  font-size: 0.889rem; }

.inverse-link a {
  color: #b2b2b2; }
  .inverse-link a:visited {
    color: #b2b2b2; }
  .inverse-link a:hover {
    color: #fff; }
  .inverse-link a:active {
    color: #fff; }
  .inverse-link a.active {
    color: #fff;
    cursor: default; }

a {
  color: #000;
  font-family: "Montserrat", sans-serif; }
  a:visited {
    color: #000; }
  a:hover {
    color: #b2b2b2; }
  a:active {
    color: #b2b2b2; }
  a.active {
    color: #b2b2b2;
    cursor: default; }

blockquote {
  border-left: 0.7em solid #f2f2f2;
  margin: 1.5em 0;
  padding: 0.5em;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #cccccc;
  content: open-quote;
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  font-family: "Pontano Sans", sans-serif;
  color: #cccccc;
  display: inline; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

/* ===========================
   ICON FONTS
   =========================== */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?oy6ief");
  src: url("../fonts/icomoon.eot?oy6ief#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?oy6ief") format("truetype"), url("../fonts/icomoon.woff?oy6ief") format("woff"), url("../fonts/icomoon.svg?oy6ief#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-navigate-before:before {
  content: "\e408"; }

.icon-navigate-next:before {
  content: "\e409"; }

.icon-google-plus:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e901"; }

.icon-instagram:before {
  content: "\e909"; }

.icon-twitter:before {
  content: "\e902"; }

.icon-flickr:before {
  content: "\e903"; }

.icon-500px:before {
  content: "\e904"; }

.icon-github:before {
  content: "\e905"; }

.icon-tumblr:before {
  content: "\e906"; }

.icon-linkedin:before {
  content: "\e907"; }

.icon-pinterest:before {
  content: "\e908"; }

.page-background {
  background-color: #ffffff; }

.blog-background {
  background-color: #f3f2ee; }

/* ===========================
   LAYOUT
   =========================== */
.l-container {
  width: auto;
  max-width: 77em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2em;
  padding-right: 2em; }

.l-container-narrow {
  width: auto;
  max-width: 45em;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2em;
  padding-right: 2em; }

.group {
  *zoom: 1; }
  .group:before, .group:after {
    content: '';
    display: table; }
  .group:after {
    clear: both; }

.l-social {
  text-align: right; }

/* ===========================
   Main Header
   =========================== */
.l-main-header {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  .l-main-header:first-child {
    margin-left: auto; }
  .l-main-header:last-child {
    margin-right: auto; }
  @media (min-width: 37.5em) {
    .l-main-header {
      float: left;
      clear: none;
      width: 31.33333%;
      margin-left: 0;
      margin-right: 3%;
      text-align: left;
      padding-top: 2rem;
      padding-bottom: 2rem; }
      .l-main-header:last-child {
        margin-right: 0; } }

.l-main-nav {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 1rem; }
  .l-main-nav:first-child {
    margin-left: auto; }
  .l-main-nav:last-child {
    margin-right: auto; }
  @media (min-width: 37.5em) {
    .l-main-nav {
      float: left;
      clear: none;
      width: 65.66667%;
      margin-left: 0;
      margin-right: 3%;
      padding-top: 3rem;
      padding-bottom: 2rem;
      text-align: right; }
      .l-main-nav:last-child {
        margin-right: 0; } }

/* ===========================
   Post Article
   =========================== */
.l-caption-on-image {
  position: absolute;
  top: 200px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white; }
  @media (max-width: 37.5em) {
    .l-caption-on-image {
      top: 0;
      position: relative; } }

.l-half {
  margin-bottom: 2%; }
  @media (min-width: 37.5em) {
    .l-half {
      float: left;
      clear: none;
      width: 48.5%;
      margin-left: 0;
      margin-right: 3%; }
      .l-half:last-child {
        margin-right: 0; } }

.l-split-half img {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0;
  margin-right: 3%;
  margin-bottom: 3%; }
  .l-split-half img:nth-of-type(n) {
    margin-right: 3%;
    float: left;
    clear: none; }
  .l-split-half img:nth-of-type(2n) {
    margin-right: 0;
    float: right; }
  .l-split-half img:nth-of-type(2n + 1) {
    clear: both; }

.l-third img {
  margin-bottom: 3%; }
  @media (min-width: 37.5em) {
    .l-third img {
      float: left;
      clear: none;
      width: 31.33333%;
      margin-left: 0;
      margin-right: 3%; }
      .l-third img:nth-of-type(n) {
        margin-right: 3%;
        float: left;
        clear: none; }
      .l-third img:nth-of-type(3n) {
        margin-right: 0;
        float: right; }
      .l-third img:nth-of-type(3n + 1) {
        clear: both; } }

/* ===========================
   Post Navigation Buttons
   =========================== */
.l-article-nav {
  *zoom: 1;
  margin-top: 1rem; }
  .l-article-nav:before, .l-article-nav:after {
    content: '';
    display: table; }
  .l-article-nav:after {
    clear: both; }

.previous {
  float: left;
  clear: none;
  width: 31.33333%;
  margin-left: 0;
  margin-right: 3%; }
  .previous:last-child {
    margin-right: 0; }

.next {
  float: left;
  clear: none;
  width: 31.33333%;
  margin-left: 34.33333%;
  margin-right: 3%; }
  .next:last-child {
    margin-right: 0; }

@media (min-width: 37.5em) {
  .readmore {
    float: left;
    clear: none;
    width: 22.75%;
    margin-left: 77.25%;
    margin-right: 3%; }
    .readmore:last-child {
      margin-right: 0; } }

@media (min-width: 37.5em) {
  .l-demo {
    float: left;
    clear: none;
    width: 65.66667%;
    margin-left: 0;
    margin-right: 3%; }
    .l-demo:last-child {
      margin-right: 0; } }

@media (min-width: 37.5em) {
  .aside {
    float: left;
    clear: none;
    width: 31.33333%;
    margin-left: 0;
    margin-right: 3%; }
    .aside:last-child {
      margin-right: 0; } }

/* ===========================
   Footer
   =========================== */
footer {
  *zoom: 1;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  footer:before, footer:after {
    content: '';
    display: table; }
  footer:after {
    clear: both; }

.l-footercolumn {
  text-align: center; }
  @media (min-width: 37.5em) {
    .l-footercolumn {
      float: left;
      clear: none;
      width: 31.33333%;
      margin-left: 0;
      margin-right: 3%;
      text-align: left; }
      .l-footercolumn:last-child {
        margin-right: 0; } }
  @media (max-width: 37.5em) {
    .l-footercolumn li:first-child {
      padding-top: 1rem; } }

/* ===========================
   MODULES
   =========================== */
ul.social-menu li {
  display: inline-block;
  padding: 0.3rem 0 0.3rem 0.5rem; }

/* ===========================
   Branding main header
   =========================== */
.branding {
  font-size: 1.266rem;
  text-transform: uppercase;
  font-weight: 700; }
  .branding small {
    color: #b2b2b2;
    text-transform: lowercase;
    font-weight: 400; }

.main-nav li {
  font-family: "Montserrat", sans-serif;
  font-size: 0.889rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 0.5em;
  display: inline-block; }

/* ===========================
   Logo
   =========================== */
.footer-logo {
  max-width: 33%; }

/* ===========================
   Theme button
   =========================== */
.bb-button {
  background-color: transparent;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  padding: 1em .5em;
  color: #8c8c8c;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 0.7rem;
  text-transform: uppercase; }
  .bb-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    border-color: black; }
  .bb-button:disabled, .bb-button.disabled {
    background-color: transparent;
    color: #d8d8d8;
    border-color: #d8d8d8;
    cursor: default; }
  @media (min-width: 37.5em) {
    .bb-button {
      font-size: 0.889rem; } }

.small-bb-button {
  padding: 0.5em 0.5em;
  font-size: 0.7rem; }

/* ===========================
   Link animation (underline) 
   =========================== */
ul.link-animate li > a {
  position: relative;
  color: black;
  text-decoration: none; }
ul.link-animate li > a:hover {
  color: black; }
ul.link-animate li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
ul.link-animate li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }
ul.link-animate li > a.active:hover:before {
  visibility: hidden; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: .1em; }
