/* ===========================
   MODULES
   =========================== */

.main-nav {
  text-align: right;
    li {
    font-family: $heading; 
    font-size: $small;
    font-weight: $bold;
    text-transform: uppercase;
    display: inline-block;
    a {
      padding: 5%;
    }
  }
  @include breakpoint(special) {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* ===========================
   Logo
   =========================== */

.header-logo {
  max-width: 80px;
  padding-bottom: 1rem;
}

.header, .footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aacc+0,0089af +100 */
  background: #00aacc; /* Old browsers */
  background: -moz-linear-gradient(top,  #00aacc 0%, #0089af  100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00aacc 0%,#0089af  100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00aacc 0%,#0089af  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aacc', endColorstr='#0089af ',GradientType=0 ); /* IE6-9 */
}


/* ===========================
   Theme button
   =========================== */

.bb-button {
  background-color: transparent;
  border: 1px solid darken($gray, 25%);  
  border-radius: 5px;
  padding: 1em .5em;
  color: darken($gray, 40%);  
  text-align: center;
  letter-spacing: 0.2em;
  font-size: (0.7rem);
  text-transform: uppercase;
    &:visited {
      color: #8c8c8c;
    }
    &:hover {
      cursor: pointer;
      color: white;
      background-color: black;
      border-color: black;
    }
    &:disabled, &.disabled {
      background-color: transparent;
      color: darken($gray, 10%);
      border-color: darken($gray, 10%);
      cursor: default;
    }
  @include breakpoint(phablet) {
    font-size: $small;
  }  
}


.small-bb-button { padding: .5em .5em; }  

// Browser UI

.fake-browser-ui .frame {
  display: block;
  height: 15px;
  background: #d3d3d3;
}

.fake-browser-ui span {
  height: 0.5rem;
  width: .5rem;
  border-radius: .5rem;
  background-color: #eee;
  /* border: 1px solid #dadada; */
  float: left;
  margin: 4px 0 0 4px;
}

.img-circle {
    border-radius: 50%;
    max-width: 200px;
}

.text-left {
  text-align: left;
}

.heart {
  max-width: 2rem;
}

.fashion-img {
  padding-top: 0.7rem;
}

.on-set-img {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.feature {  
  padding-top: 2.4rem;
  padding-bottom: 2rem;
  img {
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
  }
}

.main {
  background: #E8E8E8; 
  padding-bottom: 2rem;

}
// #web, #print, #photography {
//   padding-top: 1rem;
// }
// #print, #photography {
//    h2 {
//     border-top: .3rem solid #d3d3d3;
//     padding-top: 1rem;
//   }
// }

.section-heading h2 {     
  padding: 1rem;
  text-transform: uppercase;
  margin-top: 0;
 }
.section-heading {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

// ======================
//  Utility Classes 
// =======================



// .screenreader {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     overflow: hidden;
//     clip: rect(0,0,0,0);
//     border: 0;
// }